! START OF TEMPLATE
!=========================================================
! Config Template for Cisco IOS                          !
! Version: 0.1 ......... Draft                           !
!=========================================================
!
! BASIC INFO
!======================
!
hostname {{hostname}}
