! START OF TEMPLATE
!=========================================================
! Config Template for Cisco IOS                          !
! Version: 0.1 ......... Draft                           !
!=========================================================
!
! BASIC INFO
!======================
!
hostname {{hostname}}
ip domain-name {{domain}}
crypto key generate rsa mod 2048
!
! AUTHENTICATION
!======================
service password-encryption
enable secret {{secret}}
!
username support privilege 15 secret {{password}}
!
tacacs server TACACS-SERVER
 address ipv4 {{tacacsserver}}
 key {{tacacskey}}
!
aaa new-model
aaa group server tacacs+ TAC_PLUS
 server name TACACS-SERVER
!
aaa authentication password-prompt "Local Password: "
aaa authentication username-prompt "Local Username: "
aaa authentication login default group TAC_PLUS local
aaa authentication enable default group TAC_PLUS enable
aaa accounting exec default start-stop group TAC_PLUS
aaa accounting commands 1 default start-stop group TAC_PLUS
aaa accounting commands 15 default start-stop group TAC_PLUS
!
! TIME
!======================
clock timezone GMT 0 0
clock summer-time BST recurring last Sun Mar 2:00 last Sun Oct 2:00
!
ip access-list standard DENY-NTP
 deny   any
ip access-list standard PERMIT-NTP-CLIENT
 deny   any
ip access-list standard PERMIT-NTP-PEER
 permit {{ntppeer}}
 deny   any
!
ntp access-group peer PERMIT-NTP-PEER
ntp access-group serve DENY-NTP
ntp access-group serve-only PERMIT-NTP-CLIENT
ntp access-group query-only DENY-NTP
!
ntp server {{ntppeer}} prefer
!
! MANAGEMENT PROTOCOLS
!======================
ip http server
ip http authentication local
ip http secure-server
!
ip ssh version 2
!
! LOGGING & SNMP
!======================
access-list 99 permit host {{snmphost}}
access-list 99 deny any
!
snmp-server community logicacmg RW 99
snmp-server community walru5 RO 99
snmp-server contact Control Bridge
snmp ifmib ifindex persist
!
logging host {{logginghost}}
! 
! VTY & CONSOLE LINE
!======================
ip access-list extended SECURE-VTY
 permit tcp host {{vtyallow}} any eq 22
 deny ip any any
!
line con 0
 exec-timeout 5 0
 logging synchronous
 stopbits 1
!
line vty 0 15
 access-class SECURE-VTY in
 exec-timeout 60 0
 logging synchronous
 length 0
 transport input ssh
 transport output none
!
! BANNER
!======================
banner login ^
******************************************************************
******************************************************************				  
**                 OS Telecoms Services                         **
**        ** AUTHORISED PERSONNEL ONLY **            		**
**   Unauthorised access or use of this equipment    		**
**      is prohibited and constitutes an offence            	**
**         under the Computer Misuse Act 1990.             	**
**        If you are not authorised to use this                 **
**         system, terminate this session now.                	**
******************************************************************
******************************************************************
^
! END OF TEMPLATE
